body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 2vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* Stack child divs vertically */
    align-items: center;
    /* Center child divs horizontally */
    justify-content: flex-start;
    /* Align child divs to the top */
    background-color: #f9f9f9;
}

.container {
    width: 100%;
    max-width: 1000px;
    padding: 1.5vh;
    margin: 0px;
    box-sizing: border-box;
    display: flex;
    /* Add this to align the child divs horizontally */
    justify-content: space-between;
    /* Create space between child divs */
    text-align: center;
}

.top-left {
    padding: 1vw;
    margin: 1.5vw;
    display: block;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    border: 3px solid #ccc;
    border-radius: 1.5vw;
}

.top-right {
    padding: 1vw;
    margin: 1.5vw;
    display: block;
    border: 3px solid #cccccc;
    box-sizing: border-box;
    border-radius: 1.5vw;
}

.top-middle {
    padding: 1vw;
    margin: 1.5vw;
    display: block;
    border: 3px solid #ccc;
    box-sizing: border-box;
    border-radius: 1.5vw;
}

.spreadsheet {
    padding: 1vw;
    margin: 1.5vw;
    align-items: center;
    border-radius: 1vw;
    text-align: center;
    font-size: 1.2vw;
    background-color: #ffffff;
}

label {
    color: #111111;
    font-weight: bold;
    font-size: medium;
    display: inline;
    padding: 5px;
    border-radius: 10px;
}

button {
    padding: 10px;
    border-radius: 13px;
    border-width: 3px;
    font-size: 1.2vw;
    border-color: #cccccc;
    background-color: #ffffff;
    color: #111111;
    transition: background-color 0.3s, color 0.3s;
}

button:active,
button:hover {
    background-color: #aaaaaa;
    color: #ffffff;
}
